<div class="filters-container">
  <div class="filters-header" (click)="toggleFilters()">
    <h3>
      <i class="fas fa-filter"></i>
      Episode Filters
      <i class="fas" [class.fa-chevron-down]="!showFilters" [class.fa-chevron-up]="showFilters"></i>
    </h3>
  </div>
  
  <div class="filters-content" *ngIf="showFilters">
    <form [formGroup]="filterForm">
      <div class="input-group">
        <label for="name">
          <i class="fas fa-search"></i>
          Episode Name
        </label>
        <input 
          id="Name" 
          type="text" 
          formControlName="name" 
          placeholder="Season Name Search"
        >
      </div>

      <div class="input-group">
        <label for="season">
          <i class="fas fa-tv"></i>
          Seasons
        </label>
        <select 
          id="season" 
          formControlName="season"
        >
          <option value="">All Seasons</option>
          <option *ngFor="let s of seasons" [value]="s">{{s}}. Season</option>
        </select>
      </div>

      <div class="input-group">
        <label for="episode">
          <i class="fas fa-film"></i>
          Episodes
        </label>
        <select 
          id="episode" 
          formControlName="episode"
        >
          <option value="">All Episodes</option>
          <option *ngFor="let e of episodes" [value]="e">
            <span *ngIf="filterForm.value.season; else allSeasons">
              {{e}}. Episode
            </span>
            <ng-template #allSeasons>
                All Seasons {{e}}. Episode
            </ng-template>
          </option>
        </select>
      </div>
    </form>

    <div class="button-group">
        <button 
        type="button" 
        class="filter-button reset"
        (click)="resetFilters()">
        <i class="fas fa-undo"></i>
        Reset
      </button>
    </div>
  </div>
</div>
