<div class="container">
  <h1 class="clickable-title" (click)="resetToHome()">Rick and Morty Characters</h1>
  
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{currentPage}} of {{totalPages}}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>

  <app-filters (filterChange)="onFilterChange($event)"></app-filters>

  <div class="character-grid">
    <div *ngFor="let character of characters" class="character-card" (click)="showCharacterDetails(character.id)">
      <img class="character-img" [src]="character.image" [alt]="character.name">
      <div class="character-info">
        <h3>{{character.name}}</h3>
        <p>Status: {{character.status}}</p>
        <p>Species: {{character.species}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage || characters.length === 0" class="no-results">
    <h3>⚠️ {{errorMessage || 'No results found'}}</h3>
    <p>Oh man, oh geez... 
      <br>
      Please check the filters or perform a different search, Geez.</p>
  </div>

  <div *ngIf="selectedCharacter" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="selectedCharacter = null">&times;</button>
      
      <img [src]="selectedCharacter.image" 
           [alt]="selectedCharacter.name"
           class="modal-image">
      <h2>{{selectedCharacter.name}}</h2>
      
      <div class="details-grid">
        <div><strong>Status:</strong> {{selectedCharacter.status}}</div>
        <div><strong>Species:</strong> {{selectedCharacter.species}}</div>
        <div><strong>Type:</strong> {{selectedCharacter.type || 'Unknown'}}</div>
        <div><strong>Gender:</strong> {{selectedCharacter.gender}}</div>
        <div><strong>Origin:</strong> {{selectedCharacter.origin.name}}</div>
        <div><strong>Location:</strong> {{selectedCharacter.location.name}}</div>
        <div><strong>Episodes:</strong> {{selectedCharacter.episode.length}}</div>
        <div><strong>Created:</strong> {{selectedCharacter.created | date}}</div>
      </div>
    </div>
  </div>
</div>